header {
    background: #fff;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px 1px #dadada;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

header li {
    display: flex;
    box-sizing: border-box;
    width: 10%;
    max-width: 111.6px;
    align-items: center;
    justify-content: center;
}

header li {
    position: relative;
}

header a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul img {
    margin: 0;
}

.active {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1b74e4;
    border-radius: 1px 1px 0 0;
    height: 3px;
    width: 96.4%;
}

.f-logo {
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.f-logo form {
    margin: 0;
    height: 100%;
    display: flex;
}

#f-logo {
    margin-left: 16px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.f-logo input {
    width: 212px;
    height: 100%;
    padding: 7px 8px 9px;
    outline: none;
    border: none;
    background: none;
}

label {
    width: 240px;
    height: 40px;
    background: #f0f2f5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 1260px) {
    .f-logo form {
        display: none;
    }
}

.hoverable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
}

.hoverable:hover {
    background: #e5e5e5;
    border-radius: 8px;
}

.top-right-div button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    background: #e0e0e0;
}