.section-container {
    margin-top: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

section {
    width: 100%;
    max-width: 500px;
}

.create-post {
    background: #fff;
    margin: 8px 0;
    padding: 12px 16px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.create-div img {
    border-radius: 50%;
    margin-right: 8px;
}

.create-div {
    display: flex;
}

.create-div > div {
    width: 100%;
    display: block;
    padding: 8px 12px;
    background: #f0f2f5;
    border-radius: 20px;
    cursor: pointer;
}

.create-post > div > div:hover {
    background: #d5d5d5;
}

.create-content {
    width: 100%;
    height: 100%;
    align-items: center
}

.addition {
    display: flex;
    padding: 8px 0 0;
    justify-content: space-around;
}

.addition div {
    box-sizing: border-box;
    padding: 8px;
    height: 40px;
    display: flex;
    align-items: center;
}

.addition div img {
    width: 24px;
    height: 24px;
}

.create-post form {
    margin: 0;
}

.modal {
    background: rgba(255, 255, 255, 0.73);
}

.modal-footer {
    border-top: none !important;
}

.create-post-button {
    display: block !important;
    width: 100%;
    height: 36px;
    background: #1B74E4;
    color: white;
    border: none;
    border-radius: 6px;
}

.close-btn {
    background: #E4E6EB;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
}

.btn-close {
    margin: 0 !important;
}

.modal-header h5 {
    font-size: 20px !important;
}

.modal-header {
    justify-content: center !important;
}

.create-post {
    text-align: left;
}

.modal-body {
    padding: 0 !important;
}

textarea {
    padding: 0;
    font-size: 24px !important;
    outline: none;
    border: none;
}

#content-box {
    resize: none !important;
}

textarea:focus {
    outline: none;
}

.modal-content {
    border: none !important;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    max-height: 80vh;
}

@media only screen and (max-height: 500px) {
    .modal-dialog {
        min-height: 373px;
    }

    .modal-content {
        min-height: 373px;
    }
}

.modal-body-content {
    max-height: 30vh;
    overflow: scroll;
}

.modal-body-content::-webkit-scrollbar {
    display: none;
}

.create-post-button:disabled {
    background: #c5c7c9;
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
    .hide-icon {
        display: none !important;
    }
}

.add-content {
    margin: 16px 16px 0;
    padding: 8px;
    height: 58px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #CED0D4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.click-able {
    cursor: pointer;
    border-radius: 8px;
}

.bg-hover:hover {
    background: #d5d5d5;
    border-radius: 50%;
}

#fileButtonLabel {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #CED0D4;
    background: none;
    position: relative;
}

.fileButtonBg {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.fileButtonBg:hover {
    background: #bdbdbd;
    box-sizing: border-box;
}
