body {
    background: #f0f2f5 !important;
    margin: 0;
}

.body {
    margin-top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    display: grid;
    grid-template-columns: 360px auto 360px;
}

nav, aside {
    position: fixed;
    width: 360px;
    height: calc(100% - 56px);
}

nav {
    left: 0;
    bottom: 0;
}

aside {
    right: 0;
    bottom: 0;
    padding-left: 16px;
}

h5 {
    font-size: 15px !important;
    margin: 0 !important;
}

@media only screen and (max-width: 1100px) {
    .body {
        grid-template-columns: 0 auto 360px;
    }

    .body nav {
        display: none;
    }

}

@media only screen and (max-width: 900px) {
    .body {
        grid-template-columns: 0 auto 0;
    }

    .body aside {
        display: none;
    }

}

#notice-div {
    width: 360px;
    height: calc(100% - 70px);
    background: #ffffff;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 50px;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
